# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/bin
package-lock.json

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Target folder
!.mvn/wrapper/maven-wrapper.jar
.openapi-generator
.log
*.log
*.temp*

### Modelo del API ###
src/main/java/com/zenith/bitbite/api/**

### Ficheros de Wiremock para modo DEMO ###
src/main/resources/wiremock/
